<div class="alert alert-danger" role="alert" style="display:none;" id="danger-alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <span id="error_message"></span>
</div>
