TODO: pager
<table class="table table-striped">
  <thead>
    <tr>
      TODO: からむ
    </tr>
  </thead>
  <tbody id="result-body">
  </tbody>
</table>
TODO: pager

<script id="tmpl_info" type="text/x-jquery-tmpl">
  <tr>
    TODO: 検索結果テンプレ
  </tr>
</script>
