<%= erb :pager %>
<table class="table table-striped">
  <thead>
    <tr>
      <% Arima::Output.schema.each do |column| %>
        <th><%= column.label_name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="result-body">
  </tbody>
</table>
<%= erb :pager %>

<script id="tmpl_info" type="text/x-jquery-tmpl">
  <tr>
    TODO: 検索結果テンプレ
  </tr>
</script>
