<span class="glyphicon glyphicon-check" aria-hidden="true" id="other-${_id}-icon"></span>
<a id="other-${_id}-link"
   class="other-toggle"
   data-id="${_id}"
   href="#">
   見る
</a>

<div id="other-${_id}-dialog" style="display:none;">
  <pre>${<%= column.name %>}</pre>
</p>
